/*
 * Base structure
 */
html, body {
	height: 100%;
	background-color: #333;
}

.nav-bar {
	padding: 5px 20px;
}

.nav-bar > div {
	display: inline-block;
	padding: .25rem 0;
	color: #fff;
}

.nav-bar > div:LAST-CHILD {
	float: right;
}

.nav-link {
	padding: 5px;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
	display: inline-block;
}

.nav-link:hover, .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
	color: #fff;
}

.active {
	color: #fff;
	border-bottom-color: #fff;
}

.myHidden {
	display: none;
}

/* 
 * Modal Box formating
 *
 */
#Modal-Attention-div {
	display: inline-block;
	padding: 10px;
	width: 100%;
}

#Modal-Attention-div .ui-icon {
	margin-right: 2px;
}

[role=main], .card {
	background-color: rgba(42, 57, 75, 0.75);
	border-radius: .5rem!important;
	margin: auto;
	max-width: 650px;
	padding: 25px;
}

.card.home {
	padding: 5px;
	text-align: center;
}

.col-sm-6 {
	padding-bottom: 15px;
}