/*
 * Base structure
 */
html, body {
	height: 100%;
	background-color: #333;
	color: #fff;
}

body {
	background-image: url("../images/speedpic.jpg");
	background-size: cover;
}

/* All Links start off white */
a, a:focus, a:hover {
	color: #fff;
}

/* Custom default button */
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: .05rem solid #fff;
}

.nav-bar {
	padding: 5px 20px;
}

.nav-bar > div {
	display: inline-block;
	padding: .25rem 0;
	color: #fff;
}

.nav-bar > div:LAST-CHILD {
	float: right;
}

.nav-link {
	padding: 5px;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
	display: inline-block;
}

a:hover, a:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
	color: #fff;
}

.active {
	color: #fff;
	border-bottom-color: #fff;
}

.myHidden {
	display: none;
}

/* 
 * Modal Box formating
 *
 */
#Modal-Attention-div {
	display: inline-block;
	padding: 10px;
	width: 100%;
}

#Modal-Attention-div .ui-icon {
	margin-right: 2px;
}

.card {
	background-color: rgba(42, 57, 75, 0.75);
	border-radius: .5rem!important;
	margin: auto;
	max-width: 650px;
	padding: 25px;
}

.card.home {
	padding: 5px;
	text-align: center;
}

.col-sm-6 {
	padding-bottom: 15px;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	padding: 40px 15px;
}


.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="user"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-top: 20px;
}

.form-signin input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 20px;
}